footer{
    background-color: rgb(66, 4, 66);
    color: white;
    padding: 20px;
}
.foot{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}



















































































































































































































































































































































































































@media (max-width: 720px) {
    footer{
        padding: 10px;
    }
    .foot{
        display: block;
    }
}